<html>
	<head>
		
	</head>
	<body bgcolor="#eeeeee">
		<div style="width:500px;margin:20px auto;padding:20px;border:1px solid #782f59;background-color:#ffffff;">
			<img src="/assets/mobile_logoChris.png"><br><br>
			Hello <%= @user.first_name %>,<br><br>

			Thank you for signing up for NytLife. We are excited to inform you that you have been granted access to NytLife's VIP deals. Be sure to check out our exclusive featured deal "Erick Morillo LIVE!"<br><br>
			
			<strong>Erick Morillo Live @ The Ritz Ybor</strong><br>

			“A WINTER WONDERLAND EXTRAVAGANZA”… suited for a living legend complete with cascading SNOW, LED stage walls, lasers, confetti blasters, cryogenics, upgraded heart pumping sound and all the bells & whistles to create one genuinely impressive & memorable event.<br><br>
			
			<strong>Deal Details</strong><br>
			VIP Balcony tickets for the cost of general admission.<br><br>
			
			<a href="https://www.nytlife.com/deal/3CD1">View/Buy Deal</a><br><br>
			
			Thank you and enjoy your Nyt<br>
			<a href="http://www.nytlife.com">NytLife.com</a><br>
		</div>
		
	</body>
</html>