<html>
	<head>
		
	</head>
	<body bgcolor="#eeeeee">
		<div style="width:500px;margin:20px auto;padding:20px;border:1px solid #782f59;background-color:#ffffff;">
			<img src="https://www.nytlife.com/assets/mobile_logoChris.png"><br><br>
			Hello <%= @user.first_name %>,<br><br>

			Welcome and thank you for joining Nytlife.com. Nytlife provides 
			discounted deals at your favorite nightlife venues, events and related 
			activities. Deals will be updated frequently so be sure to check back 
			often so you don't get left out.<br><br>
			
			You are almost ready to start using NytLife, Just finish the registration process by choosing a password by <a href="https://www.nytlife.com/nolayout/choosepass?e=<%= @user.email %>">clicking here</a>
		</div>
		
	</body>
</html>