<div id="dealHeader">
	Reset Your Password
</div><br>
<div id="dealInfoWrapper" style="font-size:16px;padding:20px 20px 20px 20px;text-align:center;">
	<% if params[:customer] != nil %>
		An email has been sent to <%= params[:customer][:email] %> with instructions on how to reset your password.
	<% else %>
		To reset your password, enter your email address below. You will receive a email with instructions on how to reset your password.
		<br><br>
		<%= form_tag(:action => 'reset_password') do %>
		<strong>Email Address: </strong><%= text_field(:customer, :email) %> &nbsp;
		<%= submit_tag("Submit Reset")%>
		<% end %>
	<% end %>
</div>