<div id="dealHeader">
	Reset Your Password
</div><br>
<div id="dealInfoWrapper" style="font-size:16px;padding:20px 20px 20px 20px;text-align:center;">

		<%= form_tag(:action => 'resetMyPassword') do %>
			<strong>Reset Code: </strong><%= text_field(:customer, :reset_key, :value => params[:code]) %><br>
			<strong>New Password: </strong><%= text_field(:customer, :new_password) %><br>
			<%= submit_tag("Save Password")%>
		<% end %>
</div>