<h3>Terms of Use</h3>
Welcome to our website. If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern NytLife’s relationship with you in relation to this website. The term ‘COMPANY’ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is 17505 Canal Shores Dr. Odessa, FL 33556. The term ‘you’ refers to the user or viewer of our website. The use of this website is subject to the following terms of use:
<ul>
	<li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
	<li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
	<li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
	<li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
	<li>All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
	<li>Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.</li>
	<li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
	<li>You may not create a link to this website from another website or document without NytLife’s prior written consent.
	Your use of this website and any dispute arising out of such use of the website is subject to the laws of the United States of America.</li>
</ul>

<h3>Privacy Policy</h3>
This privacy policy sets out how NytLife uses and protects any information that you give NytLife when you use this website. NytLife is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. NytLife may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 15th of September, 2012.
<h3>What we collect</h3>
<strong>We may collect the following information:</strong>
<ul>
	<li>name and job title</li>
	<li>contact information including email address</li>
	<li>demographic information such as postcode, preferences and interests</li>
	<li>other information relevant to customer surveys and/or offers</li>
</ul>
<strong>What we do with the information we gather</strong><br>
We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
<ul>
	<li>Internal record keeping.</li>
	<li>We may use the information to improve our products and services.</li>
	<li>We may periodically send promotional emails about new products, special offers or other information that we think you may find interesting using the email address that you have provided.</li>
	<li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customize the website according to your interests.</li> 
</ul>
<strong>Security</strong><br>
We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.<br><br>

<strong>How we use cookies</strong><br>
A cookie is a small file that asks permission to be placed on your computer’s hard drive. Once you agree, the file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. We use traffic log cookies to identify which pages are being used. This helps us analyze data about webpage traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system. Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.<br><br>

<strong>Links to other websites</strong><br>
Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information that you provide while visiting such sites and this privacy statement does not govern such sites. You should exercise caution and look at the privacy statement applicable to the website in question.<br><br>

<strong>Controlling your personal information</strong><br>
You may choose to restrict the collection or use of your personal information in the following ways:
<ul>
<li>Whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes</li>
<li>If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to us.</li>
</ul>

We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties that we think you may find interesting if you tell us that you wish this to happen. You may request details of personal information, which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please contact us.If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.<br><br>


<h3>RETURN POLICY</h3>
If you have trouble redeeming your Nytlife deal we are here to help. In the case of a business closing permanently we will honor returns for unredeemed Nytlife deals. Unless the fine print states otherwise and unredeemed unprinted deals may be returned within the first week after purchase. In other instances in which a deal is not redeemed, returns will be evaluated on a case-by-case basis. After the expiration date of a deal, it should be used at the business for the corresponding amount paid, which never expires.